<?xml version="1.0"?>
<!--
/**
 * This source file is (c) 2012 Loyally.me
 * 
 * @category    Loyally
 * @package     Loyally_Points
 * @copyright   Copyright (c) 2012 Loyally.me
 * @license     http://loyally.me
 * 
 */
-->
<config>
    <modules>
        <Loyally_LoyallyPoints>
            <version>0.0.2</version>
        </Loyally_LoyallyPoints>
    </modules>

    <global>
      	<models>
        	<loyallypoints>
            	<class>Loyally_LoyallyPoints_Model</class>
          	</loyallypoints>
       	</models>
        <helpers>
            <loyallypoints>
                <class>Loyally_LoyallyPoints_Helper</class>
            </loyallypoints>
        </helpers>
        <blocks>
            <loyallypoints>
              <class>Loyally_LoyallyPoints_Block</class>
            </loyallypoints>
        	<checkout>
          		<rewrite>
            		<agreements>Loyally_LoyallyPoints_Block_Checkout_Agreements</agreements>
           		</rewrite>
       		</checkout>
        </blocks>
        <!-- Added from http://stackoverflow.com/questions/5961290/adding-attributes-to-customer-entity/5962237#5962237 answer 4 -->
   		<resources>
    		<loyallypoints_setup>
       			<setup>
            		<module>Loyally_LoyallyPoints</module>
               		<class>Mage_Customer_Model_Entity_Setup</class>
         		</setup>
          		<connection>
            		<use>core_setup</use>
           		</connection>
     		</loyallypoints_setup>
 		</resources>
        <!-- Events relating to checkout page and for after a sale is successful -->
        <events>
       		<core_block_abstract_to_html_after>
       	    	<observers>
       	      		<loyallypoints_observer>
       	      		  	<type>singleton</type>
       	        		<class>Loyally_LoyallyPoints_Model_Observer</class>
       	        		<method>coreBlockAbstractToHtmlAfter</method>
       	      		</loyallypoints_observer>
       	    	</observers>
      		</core_block_abstract_to_html_after>
     		<checkout_onepage_controller_success_action>
       	    	<observers>
       	    		<loyallypoints_observer>
       	        		<type>singleton</type>
       	        		<class>Loyally_LoyallyPoints_Model_Observer</class>
       	        		<method>checkoutOnepageControllerSuccessAction</method>
       	     		</loyallypoints_observer>
        		</observers>
      		</checkout_onepage_controller_success_action>
      		<checkout_multishipping_controller_success_action>
      			<observers>
       				<loyallypoints_observer>
        		   		<type>singleton</type>
            			<class>Loyally_LoyallyPoints_Model_Observer</class>
           				<method>checkoutMultishippingControllerSuccessAction</method>
           			</loyallypoints_observer>
        		</observers>
    		</checkout_multishipping_controller_success_action>
   		</events>      
  	</global>

	<frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <joinLoyally>
                        <class>Loyally_LoyallyPoints_Model_Observer</class>
                        <method>joinLoyally</method>
                    </joinLoyally>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <joinLoyally>
                        <class>Loyally_LoyallyPoints_Model_Observer</class>
                        <method>joinLoyally</method>
                    </joinLoyally>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
    </frontend>
    
    <!-- Admin HTML set up for points configuration -->
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                          <children>
                            <config>
                              <children>
                                <loyallypoints translate="title" module="loyallypoints">
                                  <title>Loyally Points</title>
                                </loyallypoints>
                              </children>
                            </config>
                          </children>
                        </system>
                    </children>
                </admin>
            </resources>   
        </acl>
    </adminhtml>    

    <default>
      <LoyallyPoints>
        <settings>
          <loyallyhost>http://www.loyally.me</loyallyhost>
        </settings>
      </LoyallyPoints>
    </default>

</config>
