<?xml version="1.0"?>
<!--
/**
 * This source file is (c) 2012 Loyally.me
 * 
 * @category    Loyally
 * @package     Loyally_Points
 * @copyright   Copyright (c) 2012 Loyally.me
 * @license     http://loyally.me
 * 
 */
-->
<config>
    <modules>
        <Loyally_LoyallyPoints>
            <version>0.0.2</version>
        </Loyally_LoyallyPoints>
    </modules>

    <global>
        <blocks>
            <points>
              <class>Loyally_LoyallyPoints_Block</class>
            </points>
        </blocks>
        <helpers>
            <points>
                <class>Loyally_LoyallyPoints_Helper</class>
            </points>
        </helpers>
        <models>
          <points>
            <class>Loyally_LoyallyPoints_Model</class>
          </points>
        </models>
        <events>
          <core_block_abstract_to_html_after>
            <observers>
              <points_observer>
                <type>singleton</type>
                <class>Loyally_LoyallyPoints_Model_Observer</class>
                <method>coreBlockAbstractToHtmlAfter</method>
              </points_observer>
            </observers>
          </core_block_abstract_to_html_after>
          <checkout_onepage_controller_success_action>
            <observers>
              <points_observer>
                <type>singleton</type>
                <class>Loyally_LoyallyPoints_Model_Observer</class>
                <method>checkoutOnepageControllerSuccessAction</method>
              </points_observer>
            </observers>
          </checkout_onepage_controller_success_action>
          <checkout_multishipping_controller_success_action>
            <observers>
              <points_observer>
                <type>singleton</type>
                <class>Loyally_LoyallyPoints_Model_Observer</class>
                <method>checkoutMultishippingControllerSuccessAction</method>
              </points_observer>
            </observers>
          </checkout_multishipping_controller_success_action>
        </events>      
        <!-- Added from http://stackoverflow.com/questions/5961290/adding-attributes-to-customer-entity/5962237#5962237 answer 4 -->
        <resources>
        	<loyallypoints_setup>
                <setup>
                    <module>Loyally_LoyallyPoints</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </loyallypoints_setup>
  		</resources>	
    </global>

	<!-- Not needed as no points.xml file and no associated phtml files for displaying stuff during checkout.  See evernote for more info
    <frontend>
      <layout>
        <updates>
          <points>
            <file>points.xml</file>
          </points>
        </updates>
      </layout>
    </frontend>
    
	-->
	
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                          <children>
                            <config>
                              <children>
                                <points translate="title" module="points">
                                  <title>Loyally Points</title>
                                </points>
                              </children>
                            </config>
                          </children>
                        </system>
                    </children>
                </admin>
            </resources>   
        </acl>
    </adminhtml>    

    <default>
      <LoyallyPoints>
        <settings>
          <loyallyhost>www.loyally.com</loyallyhost>
        </settings>
      </LoyallyPoints>
    </default>

</config>
