<?xml version="1.0"?>
<config>

  <sections>
    <loyallypoints translate="label" module="loyallypoints">
      <label>Loyally Points</label>
      <tab>catalog</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1000</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <settings translate="label">
          <label>Main Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <comment>
            <![CDATA[
            <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
              Instructions to get <b>Loyally Key</b><br/>
              1. Go to <a href="http://www.loyally.me">www.loyally.me</a> to signup for our beta program<br/>
              2. Once we accept you, we'll send you a welcome email<br/>
              3. Enter the key from your welcome email below and select Yes to enable the plugin.<br/>
              4. We're here to help you get started by emailing support at <a href="mailto:support@loyally.me">support@loyally.me</a>.<br/>
            </div>
            ]]>
          </comment>
          <fields>
             <enabled translate="label">
               <label>Enable Loyally Points</label>
               <frontend_type>select</frontend_type>
               <source_model>adminhtml/system_config_source_yesno</source_model>
               <sort_order>1</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
               <comment>
                 <![CDATA[
                   <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
                     Select <b>Yes</b> to enable Loyally Points feature.
                   </div>
                 ]]>
               </comment>
             </enabled>
             <key translate="label">
               <label>Loyally Key</label>
               <frontend_type>text</frontend_type>
               <sort_order>2</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
               <comment>
                 <![CDATA[
                   <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
                     Refer to Instructions above.
                   </div>
                 ]]>
               </comment>
             </key>
          </fields>
        </settings>
      </groups>
    </loyallypoints>
  </sections>

</config>

